<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
                <input type="file" name="imageToUpload" accept="image/*">
                <br/>
                <br/>

                <label for="captionInput"> Caption </label>
                <input type="text" name="captionInput" placeholder="Caption"/>
                <br/>
                <br/>

                Share With:
                <div id = "allfgroups">
                {% for group in groups %}
                    <label> {{ group.owner_username }}</label>
                    <input type="checkbox" name="fgroup" value="{{ group.owner_username }}-{{ group.groupName }}"/>
                {% endfor %}
                </div>

                <label for="allFollowersBool"> All Followers </label>
                <input type="checkbox" name="allFollowersBool" id = "allFollowersBool" value=1 onclick="disableCheckBoxes()">
                <br/>

                <script>
                    var disableCheckBoxes = function () {
                        var allFollowerBox = document.getElementById("allFollowersBool");
                        parentObject = document.getElementById("allfgroups").children;
                        var i;
                        if (!allFollowerBox.checked) {
                            for(i = 0; i < parentObject.length; i++) {
                                currentCheckbox = parentObject[i];
                                currentCheckbox.disabled = false;
                            }
                        } else {
                            for(i = 0; i < parentObject.length; i++) {
                                currentCheckbox = parentObject[i];
                                currentCheckbox.checked = false;
                                currentCheckbox.disabled = true;
                            }
                        }
                    }
                </script>

                <br/>
                <input type="submit" value="Upload">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>