<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Image Upload</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Finstagram</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/images">View Images</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/upload">Upload an Image</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/follow">Follow</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/followers">Followers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-1 text-center">Upload an Image!</h1>
            </div>
        </div>

        <div class="text-center">
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
                <label>Choose a photo to upload:</label> <br/>
                <input type="file" name="imageToUpload" accept="image/*">
                <br/>
                <br/>

                <label for="captionInput"> Caption: </label> <br/>
                <input type="text" name="captionInput" placeholder="Caption"/>
                <br/>
                <br/>

                Share with:
                <div id = "allfgroups">
                {% for group in groups %}
                    <input type="checkbox" name="fgroup" value="{{ group.owner_username }}-{{ group.groupName }}"/>
                    <label> {{ group.owner_username }}</label>
                {% endfor %}
                </div>

                <input type="checkbox" name="allFollowersBool" id = "allFollowersBool" value=1>
                <label for="allFollowersBool"> All Followers </label>
                <br/>
                <!-- The following script is to disable the checkboxes for specific friend groups if the all followers
                     option was selected so that only one or the other could be chosen. -->
{#                <script>#}
{#                    var disableCheckBoxes = function () {#}
{#                        var allFollowerBox = document.getElementById("allFollowersBool");#}
{#                        parentObject = document.getElementById("allfgroups").children;#}
{#                        var i;#}
{#                        if (!allFollowerBox.checked) {#}
{#                            for(i = 0; i < parentObject.length; i++) {#}
{#                                currentCheckbox = parentObject[i];#}
{#                                currentCheckbox.disabled = false;#}
{#                            }#}
{#                        } else {#}
{#                            for(i = 0; i < parentObject.length; i++) {#}
{#                                currentCheckbox = parentObject[i];#}
{#                                currentCheckbox.checked = false;#}
{#                                currentCheckbox.disabled = true;#}
{#                            }#}
{#                        }#}
{#                    }#}
{#                </script>#}

                <br/>
                <input type="submit" value="Upload">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>